<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - No Balloons</title>
    @Styles.Render("/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">         
            <div class="navigation">
                <ul class="navigation-ul">
                    <li class="navigation-title">@Html.ActionLink("No Balloons", "Index", "Home", new { area = "" }, new {  })</li>                    
                    <li>
                            <a href="/Home/Index" >
                                <img src="~/Content/Images/balloons2.png" width="50" height="50" /></a>
                        </li>
                    <li>@Html.ActionLink("Horoscopes", "Horoscope", "Article")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>                      
                    <li class="navSearch">
                        @Html.Partial("Search")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="body-container-default">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Johnny has no balloons</p>
            </footer>
        </div> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
